@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #050D1D;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@keyframes glow {
  from {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #F24A7C, 0 0 10px #F24A7C, 0 0 12.5px #F24A7C, 0 0 15px #F24A7C, 0 0 17.5px #F24A7C;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 7.5px #F284A5, 0 0 12.5px #F284A5, 0 0 15px #F284A5, 0 0 17.5px #F284A5, 0 0 22.5px #F284A5, 0 0 27.5px #F284A5;
  }
}
  
.glower:hover {
  font-size: 400px !important;
}

.connect-wallet:hover .glower {
  animation: glow 0.35s ease-in-out infinite alternate;
}