@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #050D1D;
  min-height: 100vh;
}

.bg-red {
  background-color: red;
}

body {
  /* background-image: url("/destoriafullbg.png"); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.first-img-layer {
  background-color: #050D1D;
  opacity: 0.6;
}

.bg-full-img {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 75%,
  #050D1D), url('/bgfull.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-full-forest {
  background: linear-gradient(180deg, rgba(5,13,29,1) 0%, rgba(5,13,29,0.6) 38%, rgba(5,13,29,0.6) 50%, rgba(5,13,29,0.6) 62%, rgba(5,13,29,1) 100%), url('/bgforestfull.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-characters {
  background: linear-gradient(180deg, rgba(5,13,29,1) 0%, rgba(5,13,29,0.6) 21%, rgba(5,13,29,0.6) 50%, rgba(5,13,29,0.6) 80%, rgba(5,13,29,1) 100%), url('/bg-characters.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #F24A7C, 0 0 10px #F24A7C, 0 0 12.5px #F24A7C, 0 0 15px #F24A7C, 0 0 17.5px #F24A7C;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 7.5px #F284A5, 0 0 12.5px #F284A5, 0 0 15px #F284A5, 0 0 17.5px #F284A5, 0 0 22.5px #F284A5, 0 0 27.5px #F284A5;
  }
}
  
.glower:hover {
  font-size: 400px !important;
}

/* .connect-wallet:hover .glower {
  animation: glow 0.35s ease-in-out infinite alternate;
} */

.-top-1 {
  top: -8px;
}

.custom-dropdown {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(193,67,27, 0.3) 0%, rgba(0,212,255,0) 100%);
}

.customUlNav {
  left: calc(100% - 14rem);
}

.swiper-slide {
  background-position: center;
  background-size: cover;

}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide {
  transform: scale(0.8) !important;
  transition: 0.4s ease-in;
  /* height: 860px !important; */
}

.swiper-slide-active {
  transform: scale(1) !important;
  -webkit-transform: translateZ(0) !important;
  z-index: 1;
}
    
.cards-carousel {
  height: 800px !important;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 380px;
  background-attachment: fixed;
  background-position: center initial;
}


.cards-carousel-left {
  background-image: url('/carousel-card-left.png');
  position: relative;

}

.cards-carousel-middle {
  background-image: url('/carousel-card-middle.png');
  position: relative;

}

.cards-carousel-right {
  background-image: url('/carousel-card-right.png');
  position: relative;
  left: -25px !important; 
}

.custom-slider {
  width: 100%;
}

@media (min-width: 1000px) {
  .swiper-slide {
    height: 860px !important;
  }
    
  .cards-carousel {
    height: 860px !important;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 430px;
    background-attachment: fixed;
    background-position: center initial;
  }
  .layout-first-border {
    border-top: 1.5px solid rgba(255, 255, 255, 0.2);
    border-left: 1.5px solid rgba(255, 255, 255, 0.2);
    border-right: 1.5px solid rgba(255, 255, 255, 0.2);
  }
  .layout-border {
    border-left: 1.5px solid rgba(255, 255, 255, 0.2);
    border-right: 1.5px solid rgba(255, 255, 255, 0.2);
  }

}

.charac-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next {
  display: none !important;
}

.swiper-button-prev {
  display: none  !important;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}

.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 4px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

.faq-box {
  box-sizing: content-box !important;
}
/* .faq-box * {
  box-sizing: content-box;
}
 */

/* closed */

.faq-title {
  border-top: 2px solid rgba(248, 248, 248, 1);
  border-left: 2px solid rgba(248, 248, 248, 1);
  width: 100%;
  height: 46px;
  max-height: 50px !important;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: 0.45s;
}

.faq-left {
  padding-left: 24px;
  border-bottom: 2px solid rgba(248, 248, 248, 1);
  height: 100%;
  line-height: 40px;
  width: calc(100% - 16px);
  background-color: rgba(255, 255, 255, 0.15);
}

.faq-right {
  width: 16px;
  height: 100%;
  
}

.faq-right__top {
  width: 100%;
  height: calc(100% - 16px);
  border-right: 2px solid rgba(248, 248, 248, 1);
  position: relative;
  top: -1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.faq-right__bottom  {
  height: 18px;
}

.faq-right__bottom--inside  {
  height: 18px;
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  top: -23px;
  /* transition: 0.45s; */
}

.faq-right__bottom::before  {
  content: '';
  height: 22px;
  width: 2px;
  display: block;
  background-color: rgba(248, 248, 248, 1);
  transform: rotate(45deg);
  position: relative;
  left: 6.5px;
  top: -4px
}

.answer-box {
  opacity: 0;
  position: relative;
  top: -50px;
  background-color: rgba(248, 248, 248, 0);
  height: 0%;
}

/* open */

div[data-open="true"] .faq-title {
  border-top: 2px solid rgba(248, 248, 248, 1);
  border-left: 2px solid rgba(248, 248, 248, 1);
  width: 100%;
  height: 46px;
  display: flex;
  color: #000;
  align-items: center;
}

div[data-open="true"] .faq-left {
  padding-left: 24px;
  border-bottom: 2px solid rgba(5, 13, 29, 1);
  height: 100%;
  line-height: 40px;
  width: calc(100% - 16px);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  left: -2px
}

div[data-open="true"] .faq-right {
  width: 16px;
  height: 100%;
}

div[data-open="true"] .faq-right__top {
  width: 100%;
  height: calc(100% - 16px);
  border-right: 2px solid rgba(248, 248, 248, 1);
  position: relative;
  top: -1px;
  background-color: rgba(255, 255, 255, 1);
}

div[data-open="true"] .faq-right__bottom  {
  height: 18px;
  position: relative;
  z-index: 1;
}

div[data-open="true"] .faq-right__bottom--inside  {
  height: 18px;
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  background-color: transparent;
  position: relative;
  top: -29px;
  background-color: rgba(255, 255, 255, 1);
}

div[data-open="true"] .faq-title .faq-right::before  {
  content: '';
  height: 44px;
  width: 10px;
  display: block;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  right: 16px;
  top: -2px;
  z-index: 1;
}

div[data-open="true"] .faq-title .faq-right__bottom::before  {
  content: '';
  height: 26px;
  width: 2px;
  display: block;
  background-color: rgba(5, 13, 29, 1);
  transform: rotate(45deg);
  position: relative;
  left: 5.5px;
  top: -7px;
  z-index: 1;
}

div[data-open="true"] img {
  filter: invert(100%);
}

div[data-open="true"] .answer-box {
  opacity: 1;
  display: flex;
  top: -45px;
  color: #000;
  align-items: stretch;
  transition: 0.45s;
  height: 0%;
  left: -1px;
}

div[data-open="true"] .answer-box .faq-right{
  height: 100%;
}

.answer-box .faq-right__bottom::before {
  left: 6.5px;
  top: 30px;
}

.answer-text-box {
  background-color: rgba(255, 255, 255, 1);
  padding: 0px;
  width: 100%;
  height: 0px;
  transition: 0.45s;
  overflow: hidden;
  box-sizing: border-box !important;
  transition-delay: 0.45s;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 86%, 98% 100%, 0 100%, 0 100%, 0 0);
}

.faq-box {
  height: 50px;
  transition: 0.45s;
  /* transition-delay: 0.45s; */
}

div[data-open="true"].faq-box {
  height: 150px;
  transition-delay: 0.45s;
}

div[data-open="true"] .answer-text-box {
  height: 136px;
  transition: 0.45s;
  padding: 64px 24px 24px 24px;
}

.answer-right-box {
  width: 18px;
  height: 0px;
  display: flex;
  flex-direction: column;
  transition: 0.45s;
}

div[data-open="true"] .answer-right-box {
  width: 18px;
  height: 140px;
  display: flex;
  flex-direction: column;
  transition: 0.45s;
}

.answer-right-top-box {
  background-color: rgba(255, 255, 255, 1);
  height: 0px;
  width: 100%;
  transition: 0.45s;
}

div[data-open="true"] .answer-right-top-box {
  background-color: rgba(255, 255, 255, 1);
  height: calc(100% - 16px);
  width: 100%;
  transition: 0.45s;
}

div[data-open="true"] .-left-3 {
  left: -10px;
}


.answer-right-bottom-box {
  background-color: rgba(255, 255, 255, 1);
  clip-path: polygon(0 0, 100% 0, 100% 61%, 98% 70%, 70% 98%, 57% 100%, 0 100%, 0% 30%);
  height: 71px;
  width: 60px;
  position: relative;
  left: -41.5px;
  top: -3.5px;
} 

.footer-border {
  border-top: 1.5px solid rgba(255, 255, 255, 0.2);
  padding-top: 32px;
}

.footer {
  color: rgba(255, 255, 255, 0.6);
}

.bg-last {
  background: linear-gradient(180deg, rgba(5,13,29,1) 0%, rgba(5,13,29,0.8) 33%, rgba(5,13,29,0.7) 70%, rgba(5,13,29,0.6) 80%, rgba(5,13,29,1) 100%), url('/bg-last.png');
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}