@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #050D1D;
  min-height: 100%;
}

body {
  background-image: url("/bgfull.png");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@keyframes glow {
  from {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #F24A7C, 0 0 10px #F24A7C, 0 0 12.5px #F24A7C, 0 0 15px #F24A7C, 0 0 17.5px #F24A7C;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 7.5px #F284A5, 0 0 12.5px #F284A5, 0 0 15px #F284A5, 0 0 17.5px #F284A5, 0 0 22.5px #F284A5, 0 0 27.5px #F284A5;
  }
}
  
.glower:hover {
  font-size: 400px !important;
}

/* .connect-wallet:hover .glower {
  animation: glow 0.35s ease-in-out infinite alternate;
} */

.-top-1 {
  top: -8px;
}

.custom-dropdown {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(193,67,27, 0.3) 0%, rgba(0,212,255,0) 100%);
}

.customUlNav {
  left: calc(100% - 14rem);
}
@media (min-width: 700px) {
  .layout-first-border {
    border-top: 1.5px solid rgba(255, 255, 255, 0.2);
    border-left: 1.5px solid rgba(255, 255, 255, 0.2);
    border-right: 1.5px solid rgba(255, 255, 255, 0.2);
  }
}